a:hover {
  color: #ffe138;
}

body {
	background-color: #d3e4ff;
	text-align: center;
	margin: 5%;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: grey;
  }
}

footer {
	background-color: #969696;
	position:fixed !important;
	position: absolute;
	padding: 10px;
	width: 100%;
	bottom: 0;
	right:0;
	left:0;
}

.linkImage {
	margin: 10px;
	height: 40px;
	width: 40px;
}

#navbar {
	display: inline-block;
	background-color: #334c75;
	width: 100%;
	position:fixed !important;
	position:absolute;
	top:0;
	right:0;
	left:0;
}

.navItem {
	margin: 2%;
	float: right;
	color: #82e8ff;
	font-size: 20px;

}

#welcome-section {
	height:100vh;
	vertical-align: middle;
	text-align: center;
}
