a:hover {
  color: #ffe138;
}
body {
	background-color: #d3e4ff;
	text-align: center;
	margin: 5%;
}

fieldset {
	display: inline-block;
	margin: 3%;
	float: center;
	width: 250px;
	background-color: #eeefde;
	font-size: 20px;
}

input {
	background-color: #eeefde;
	margin: 1%;
	border-left: 10px;
	height: 20px;
	font-size: 15px;
}

.linkImage {
	margin: 10px;
	height: 40px;
	width: 40px;
}

#navbar {
	display: inline-block;
	background-color: #334c75;
	width: 100%;
}

.navItem {
	margin: 2%;
	float: right;
	color: #82e8ff;
	font-size: 20px;

}

select {
	margin: 3%;
	height: 30px;
	width: 90px;
	font-size: 15px;
	background-color: #eeefde;
}

#submit {
	margin: 5%;
	background-color: #81d39c;
	height: 35px;
	width: 20%;
	border-radius: 20px;
	font-size: 150%;
	color: #2e543a;
}

textarea {
	background-color: #eeefde;
}
